DB_HOST=gateway01.ap-southeast-1.prod.aws.tidbcloud.com
DB_PORT=4000
DB_USER=267V6EDBqFQa5aK.root
DB_USERNAME=267V6EDBqFQa5aK.root
DB_PASSWORD=zZ46EFtaty3bVmtw
DB_NAME=StockFlow
DB_DATABASE=StockFlow
DB_USE_SSL=true
CORS_ORIGIN=http://localhost:5173